<header id="header" class="header">
	<h1 role="banner">
		<a href="{{site.url}}" rel="home"><img src="{{paths.rel_template}}/img/logo/normal.svg" alt="{{site.name}}" width="128" height="128"></a>
	</h1>
	<nav role="navigation">
		<ul>
			{% for item in nav.get_items %}
				<li><a href="{{item.link}}">{{ item.title }}</a></li>
				{% if item.get_children %}
					<ul>
						{% for child in item.get_children %}
							<li><a href="{{child.link}}">{{ child.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header><!-- .header -->
