{% extends "layout/base.twig" %}

{% block content %}
	<article>
		{% if post.thubmanil %}
			<picture>
				<img src="{{post.thumbnail.src('medium')}}" srcset="{{post.thumbnail.srcset}}" sizes="{{post.thumbnail.sizes}}" alt="{{post.title}}">
			</picture>
		{% endif %}
		<h1>{{ post.title }}</h1>
		<ul>
			{% for tag in post.tags %}
				<li class="{{tag.taxonomy}}"><a href="{{tag.link}}">{{tag.name}}</a></li>
			{% endfor %}
		</ul>
		<div>{{ post.content }}</div>
	</article>
{% endblock %}
