<!DOCTYPE html>
<html {{ site.language_attributes }}>
	{% include "partial/head.twig" %}
	<body class="{{body_class}}" data-template="base.twig">
		
		{#
			Uncomment if you’d like to load Social SDKs
			{% include "partial/sdk.twig" %}
		#}

		<div id="root" class="root">
			{% include "partial/header.twig" %}
			<main class="main" role="main">
				{% block content %} Sorry, no content {% endblock %}
				{#
					{% block sidebar %}
						Uncomment if you wan to use
					{% endblock %}
				#}
			</main>
			{% include "partial/footer.twig" %}
		</div><!-- #root.root -->
		{{ function('wp_footer') }}
		<script src="{{paths.rel_template}}/dist/js/app.min.js?v={{version}}"></script>
	</body>
</html>
